@import '../../../scss/variables';
@import '../../../scss/mixins.scss';

.symbols-manager {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    width: 100%;
    text-align: center;
  }

  .symbols-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    gap: 30px;

    .symbol {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: bold;
      border-radius: 50%;
      border: 1px solid $light-grey;
      background: $white;
      cursor: pointer;
      @include transition(all, 0.3s, ease);

      &:hover {
        background-color: $hover-grey;
      }
    }
  }

  .random {
    padding: 10px 30px;
    border: 1px solid $light-grey;
    background: $white;
    border-radius: 4px;
    margin-top: 50px;
    cursor: pointer;
    @include transition(all, 0.3s, ease);

      &:hover {
        background-color: $hover-grey;
      }
  }
}