<div class="symbols-manager">
  <h2 class="title">Choose your symbol</h2>

  <div class="symbols-list">
    <button
      *ngFor="let player of playersList; trackBy: trackByFn"
      type="button"
      class="symbol"
      (click)="choosePlayer(player)">
      {{ player.label }}
    </button>    
  </div>

  <button type="button" class="random" (click)="chooseRandomPlayer()">Random ?</button>
</div>

