
<h2 class="title" *ngIf="isGameOver()">
  <span *ngIf="isWinner()">YOU WON !</span>
  <span *ngIf="isLoser()">YOU LOST...</span>
  <span *ngIf="isDraw()">IT'S A DRAW, YOU CAN DO BETTER</span>
</h2>

<div class="grid-container row g-3">
  <div class="col-4" *ngFor="let square of board | async">
    <div class="square" [ngClass]="{ 'win': square?.win, 'draw': isDraw() }" (click)="selectSquare(square)">
      <div class="content">{{ square?.player?.label }}</div>
    </div>
  </div>

  <button type="button" *ngIf="isGameOver()" class="reset-button" (click)="resetGame()">Reset Game</button>
</div>

<h2 class="title" *ngIf="!isGameOver()">
  <ng-container *ngIf="isMyTurn()">It's your turn, tick, tock, tick, tock...</ng-container>
  <ng-container *ngIf="!isMyTurn()">It's Player2's turn</ng-container>
</h2>