@import '../../../scss/variables';
@import '../../../scss/mixins';

.title {
  padding: 20px 20px 0;
  text-align: center;
}

.grid-container {
  max-width: 500px;
  width: 100%;
  margin: 50px auto 50px;

  .square {
    position: relative;
    border: 1px solid $light-grey;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    @include transition(all, 0.3s, ease);

    .content {
      position: absolute;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: bold;
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &:hover {
      background-color: $hover-grey;
    }

    &.win {
      border-color: $gold;
      border-width: 3px;

      &:hover {
        background-color: $white;
      }
    }

    &.draw {
      border-color: $light-grey;
      color: $light-grey;

      &:hover {
        background-color: $white;
      }
    }
  }
}

.reset-button {
  padding: 10px 30px;
  border: 1px solid $light-grey;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  margin: 50px auto 0;
  background: $white;
  // @include transition(all, 0.3s, ease);

  // &:hover {
  //   background-color: $hover-grey;
  // }
}