/* You can add global styles to this file, and also import other style files */

@import './scss/variables.scss';
@import './scss/mixins.scss';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}